.nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 10px 25px;
}

.nav>.title {
  display: flex;
}

.title {
  font-size: 18px;
}

.frank-head {
  width: 75px;
}

.nav-items {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  justify-items: center;
}

.nav-items>a {
  padding: 5px;
}